body{
  background: #444;
}

.App{
  background: #eee ;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;

}
/* 
#to-do-form input{
  background: #666;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px ;
  font-size: 18px;
  border-radius: 10px;
  color: white;
} */

#to-do-form input::placeholder{
  color:rgba(245, 245, 245, 0.603);
}

#to-do-form input:focus,#to-do-form button:focus{
  outline: none;
}
/* 
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background: rgba(255, 145, 0, 0.836);
  cursor: pointer;
  font-weight: bolder;
} */


